* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  scroll-behavior: smooth;
  /* transition: 0.5s; */
}

*::selection {
  color: #3e09ff;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

img {
  pointer-events: none;
}

/* ******************** */
/* nav starts from here */
nav {
  background-color: #ffffff;
  padding: 0 4%;
  font-family: "Montserrat", "Arial", sans-serif ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #e9e8e7 1px solid;
  position: relative;
}

nav img {
  width: 80px;
}

.nav-links {
  flex: 1;
  text-align: right;
  
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links .fa-home::before,
.nav-links .fa-graduation-cap::before,
.nav-links .fa-file-powerpoint-o::before,
.nav-links .fa-info-circle::before,
.nav-links .fa-phone-square::before {
  content: none;
}

.nav-links > ul > li > a {
  color: #574f4f;
  text-decoration: none;
  font-size: 14px;
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
nav > .fa,
nav > div > .fa {
  display: none;
}
/* nav ends here */

/* main heading in Home page starts here */

.main-head-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 5%;
  margin: 18px 40px;
}
.main-head {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 12px 0px;
}

.main-head-img > img {
  width: 420px;
}



.main-head h1 {
  font-family: "ShopifySans", Helvetica, Arial, sans-serif;
  font-size: 3.8em;
  font-weight: 900;
  color: #93529e;
}
.main-head span{
  color: #6f3e78;
}
.main-head h3 {
  color: #e0caca;
  font-size: 20px;
  font-weight: 100;
  text-shadow: 1px 1px 1px #0000005e;
}

.main-head p {
  font-size: 20px;
}

.main-about-btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  color: #2f6ea8;
  padding: 5px 5px;
  font-size: 13px;
  margin-top: 17px;
  width: 86px;
  text-align: center;
  border: #93529ec4 1px solid;
}

.main-about-btn:hover {
 color: #fff;
  background: #6f3e78;
  transition: 1s;
}

/* -- sub head -- */

.sub-head {
  margin-top: 80px;
}

.sub-head h4 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #19414f;
  position: relative;
  z-index: 0;
  background-image: linear-gradient(to right, pink, white 35%, white 65%, pink);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 center;
}

/* ----------- about us ---------- */
.about-us {
  overflow: hidden;
}

.about-us-content {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px 46px 0 46px;
}

.about-para > h2 {
 
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(19, 25, 38);

}

.about-para {
  padding: 28px;
  flex: 1 1 400px;
  font-size: small;
  line-height: 24px;
}
.about-para > p {
 text-align: justify;
}

.about-us-img{
  flex: 1 1 318px;
  padding: 28px;
}
.about-us-img img {
  width: 100%;
  border-radius: 2%;
}

/* -- philosophy -- */
.philosophy-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  overflow: visible;
}

.philosophy-box {
  flex-basis: 160px;
  text-align: center;
  padding: 20px 40px;
}

.philosophy-box p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: small;
  line-height: 20px;
  padding-top: 12px;
}

.philosophy-box img {
  width: 6em;
  height: 6em;
}

/* reviewed and commented */

.commented-container {
  height: 100%;
  margin: 60px;
  padding: 40px;
  background-image: linear-gradient();
  border-left: 10px solid #253439;
  /* border-right: 10px solid #253439; */
  border-radius: 10px;
  box-shadow: 1px 4px 10px rgb(222, 226, 228);
}

.commented-container p:nth-child(1) {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 1.5em;
  padding: 40px 40px 0 40px;
  color: #909596;
}

.commented-container p:nth-child(2) {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  color: #19414f;
  text-align: end;
  padding: 20px;
}

/* -- Courses -- */

.course-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 40px 0;
}

.course-box {
  width: 280px;
  height: fit-content;
  margin: 24px;
  border-radius: 10px;
  box-shadow: 1px 4px 10px rgb(222, 226, 228);
  transition: 1s;
}

.course-box img {
  width: 280px;
  border-radius: 5px;
  padding-bottom: 3px;
}

.course-box h4{
  padding: 0 1.6vw;
  font-family: "Montserrat", "Arial", sans-serif;

}

.course-box p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: small;
  line-height: 18px;
  padding: 16px 14px 0 14px;
  text-align: justify;
  text-justify: inter-word;
}

.course-box  button {
  margin: 10px;
  padding: 0 4px 4px 4px;
  border: none;
  float: right;
}

.course-box  button{
  cursor: pointer;
}

/* read more button */

.hide {
  display: none;
}

/* -- contact form popup -- */
.btn-form-popup {
  width: max-content;
  height: max-content;
  font-size: large;
  overflow: visible;
  padding: 4px 6px;
  background-image: linear-gradient(
    rgba(113, 40, 27, 0.7),
    rgba(142, 40, 40, 0.7)
  );
  transform: rotate(270deg);
  position: fixed;
  top: 80%;
  left: -56px;
  border-radius: 0 0 10px 10px;
  outline: none;
  border: none;
  color: white;
}

.contact-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffb1;
  transition: 3s;
}

.contact-container form {
  background-color: #ffffff;
  width: 50%;
  max-width: 400px;
  height: max-content;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 1px 4px 10px rgb(222, 226, 228);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
}

.contact-container form > input,
.contact-container form > textarea {
  outline: none;
  border: #ffffff;
  padding: 10px;
  background-color: #f3ecec;
  border-radius: 6px;
}

.contact-container form > textarea {
  margin-top: 10px;
}

.contact-container form h4 {
  padding-bottom: 2vh;
  font-size: 1.4em;
}

/* Contact form button  */
.contact-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.contact-close-btn, .contact-submit-btn{
 color: #2f6ea8;
 margin: 5%;
 padding: 1.5% 10%;
 border: none;
 cursor: pointer;
 border-radius: 4px;
 box-shadow: #00000061 0px 0px 5px -1px;
 color: white;
 
}

.contact-close-btn{
  background: linear-gradient(6deg, rgb(247 65 121) 25%, rgb(231 64 139) 73%);
}
.contact-close-btn:hover{
  background: linear-gradient(186deg, rgb(247 65 121) 25%, rgb(231 64 139) 73%);  
  box-shadow: #00000061 3px 3px 5px -1px;
}
.contact-submit-btn{
  background: linear-gradient(6deg, rgb(229 94 198) 25%, rgb(241 128 224) 73%);
}
.contact-submit-btn:hover{
  background: linear-gradient(1866deg, rgb(229 94 198) 25%, rgb(241 128 224) 73%);
  box-shadow: #00000061 3px 3px 5px -1px;
}
/* Back to top button */

#go2top {
  display: none;
  position: fixed;
  bottom: 42px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 9px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
}

#chat2wa {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #b5bc65;
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 10px;
}

#chat2wa img {
  width: 20px;
}
#go2top:hover {
  background-color: #555;
}

/* -- footer container -- */
#footer{
  background-color: #101925;
}
.footer-container {
  width: 100%;
  height: 100%;
  font-size: small;
  line-height: 1.2em;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container > div {
  max-width: 28%;
  margin: 10px 140px 10px 10px;
}

.footer-container > div  p {
  max-width: 400px;
  color: #b1adb1;
}
.footer-container > div  p a{
  color: #b1adb1;
}

.footer-container > div > img {
  min-height: 80px;
  min-width: 80px;
  width: 6vw;
  height: 6vw;
}

.footer-container > div a li {
  color: #b1adb1;
  cursor: pointer;
  width: 100%;
  list-style: none;
  padding: 0.6em;
}
.footer-container > div li:hover {
  background-color: #41484b;
  border-bottom: 1px solid #ffffff5b;
  padding-left: 12px;
  font-size: small;
  transition: 0.3s;
}

.footer-container h5 {
  color: #f3f3f3;
  font-size: 1em;
  padding: 0.6em 0;
}

.copy-right{
  font-size: small;
  color: #b1adb1;
  padding-bottom: 20px;
  text-align: center;
}



/* Social media link in footer */
.social .fa {
  padding: 6px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 2px 1px;
  border-radius: 50%;
}

.social .fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
